services:
  db:
    image: postgres:17-alpine
    container_name: db_blog
    env_file:
      - ./backend/.env.prod
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.env.prod
    volumes:
      - ./backend/blog_project:/app/blog_project
      - ./backend/blog:/app/blog
      - static_data:/app/staticfiles
    environment:
      DB_HOST: db
    depends_on:
      - db
    restart: always

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    env_file:
      - ./nginx/.env.prod
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - static_data:/app/staticfiles:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/log/nginx:/var/log/nginx
    restart: always

volumes:
  static_data:
  postgres_data:
