services:
  db:
    image: postgres:17-alpine
    container_name: db_blog
    env_file:
      - ./backend/.env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend/blog_project:/app/blog_project
      - ./backend/blog:/app/blog
      - static_data:/app/staticfiles
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: db
    depends_on:
      - db
    restart: always

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - static_data:/app/staticfiles
    restart: always

volumes:
  static_data:
  postgres_data:
