services:
  db:
    image: postgres:17-alpine
    container_name: db_blog_dev
    env_file:
      - ./backend/.env.dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_dev
    env_file:
      - ./backend/.env.dev
    command: uv run python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/blog_project:/app/blog_project
      - ./backend/blog:/app/blog
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    env_file:
      - ./frontend/.env.dev
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    restart: always

volumes:
  postgres_data_dev:
